<div>
  <h2>Login Page</h2>
  <form [formGroup]="loginRef" (ngSubmit)="signIn()">

    <div class="row">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
        />
        <span
          class="small"
          *ngIf="
            !loginRef.get('email')?.valid && loginRef.get('email')?.touched
          "
          >Please enter a valid email</span>
      </div>
    </div>


    <div class="row">
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <span
          class="small"
          *ngIf="
            !loginRef.get('password')?.valid && loginRef.get('password')?.touched
          "
          >Please enter a strong password</span>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="usertype">TypeOfUser</label>
        <input
          type="radio"
          id="usertype"
          class="form-control"
          formControlName="typeOfUser"
          value="admin"
        />admin
        <input
          type="radio"
          id="usertype"
          class="form-control"
          formControlName="typeOfUser"
          value="user"
        />user
      </div>
    </div>

    <div class="row">
      <input type="submit" value="signIn" />
      <input type="reset" value="reset" />
    </div>
    
  </form>
  <br />
  <span style="color: red">{{ msg }}</span
  ><br />
  <a routerLink="/forgotPass">forgotPassword</a>
</div>
